<div class="w3-card-4">

    <header class="w3-container w3-light-grey">
      <h3>{{ pokemon.name }}</h3>
    </header>
    
    <div class="w3-container">
      <p>HP: {{ pokemon.hp}} - speed: {{ pokemon.speed }}</p>
      <hr>

      <div class="w3-left w3-container w3-margin" style="width: 150px;">
      <img src="{{ pokemon.image }}" alt="Avatar" style="width: 150px;" >
      </div>
      <div class="w3-left w3-container w3-margin">
        <h4>Attack moves</h4>
        <ul>
       {% for move in pokemon.attack_moves %}
        <li>{{ move }} ( {{ attacks[move] }} )</li>
       {% endfor %}
        </ul>
      </div>
       <div class="w3-left w3-container w3-margin">
        <h4>special Attack moves</h4>
        <ul>
       {% for move in pokemon.special_attack_moves%}
        <li>{{ move }} ( {{ special_attacks[move] }} )</li>
       {% endfor %}
        </ul>
      </div>
      <div class="w3-left w3-container w3-margin">
        <h4>defense moves</h4>
        <ul>
       {% for move in pokemon.defense_moves%}
        <li>{{ move }} ( {{ defense[move] }} )</li>
       {% endfor %}
        </ul>
      </div>
      <div class="w3-left w3-container w3-margin">
        <h4>special defense moves</h4>
        <ul>
       {% for move in pokemon.special_defense_moves%}
        <li>{{ move }} ( {{ special_defense[move] }} )</li>
       {% endfor %}
        </ul>
      </div>


    </div>
    </div>